body {
    margin: 0;
    background-color: rgb(209, 209, 209);
}

h1 {
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
    color: gray;
    text-shadow: 2px 2px black;
}

.big-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

}

#grid-holder {
    border: 2px solid red;
    height: 600px;
    min-height: 600px;
    max-height: 600px;
    width: 600px;
    min-width: 600px;
    max-width: 600px;
    display: grid;
}

h2 {
    margin-bottom: -12px;
    font-family: 'Rubik Dirt', cursive;
    color: grey;
    text-shadow: 2px 2px black;
}

#color-changer {
    width: 120px;
    height: 65px;
    background: none;
    border: 3px solid rgb(228, 227, 227);
    border-radius: 10px;
}

#color-changer:hover {
    cursor: pointer;
}

#rainbow {
    width: 120px;
    height: 50px;
    border: 3px solid rgb(228, 227, 227);
    border-radius: 10px;
    font-family: "Rubik Dirt", cursive;
    color: rgb(73, 73, 73);
    text-shadow: 1px 1px white;
    font-size: 1.3rem;
}

#rainbow:hover {
    cursor: pointer;
}

#eraser {
    width: 120px;
    height: 50px;
    border: 3px solid rgb(228, 227, 227);
    border-radius: 10px;
    font-family: "Rubik Dirt", cursive;
    color: rgb(73, 73, 73);
    text-shadow: 1px 1px white;
    font-size: 1.3rem;
}

#eraser:hover {
    cursor: pointer;
}

#clear-grid {
    width: 120px;
    height: 50px;
    border: 3px solid rgb(228, 227, 227);
    border-radius: 10px;
    font-family: "Rubik Dirt", cursive;
    color: rgb(73, 73, 73);
    font-size: 1.2rem;
}

#clear-grid:hover {
    cursor: pointer;
}

#remove-lines {
    width: 120px;
    height: 50px;
    border: 3px solid rgb(228, 227, 227);
    border-radius: 10px;
    font-family: "Rubik Dirt", cursive;
    color: rgb(73, 73, 73);
    font-size: 1.1rem;
}

#remove-lines:hover {
    cursor: pointer;
}

.square {
    border: 1px solid black;
}

.colored-in {
    background-color: pink;
}

.ranges {
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;

}

.grid-object:hover {
    cursor: crosshair;
}

h3 {
    margin-bottom: -30px;
    font-family: "Rubik Dirt", cursive;
    color: grey;
    text-shadow: 1px 1px black;
}

h5 {
    font-family: "Rubik Dirt", cursive;
    color: grey;
    text-shadow: 1px 1px black;
}

input[type=range]:hover {
    cursor: pointer;
}